{% extends "base.html" %}
{% block body %}
{% load static %}
    <!-- middle section -->
    <section class="mt-5">
      <div class="container" style="padding: 40px 30px">
        <div class="row">
          <div class="col-lg-6">
            <h1
              style="
                color: #1d115a;
                font-weight: 900;
                letter-spacing: -1px;
                margin-top: 17px;
                margin-bottom: 12px;
                font-size: 3em;
                line-height: 1.2;
              "
            >
              Empowering Field Agents with Field Monitoring Software
            </h1>
            <p style="color: #14141e">
              Field tracking made easy with Field, Real-time Insights, Seamless
              Tracking, Maximum Efficiency at your fingertips.
            </p>

            <div>
              <button
                type="button"
                class="btn btn-warning rounded-pill float-start p-3 mt-4"
              >
                Try We360.ai <i class="arrow-icon">></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6">
            <img
              src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d7357fd7c1e698e0694bab_field%20tracking%20software%20hero%20image%200-85x.png"
              alt=""
              srcset=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <div class="container py-5 main-content-2">
        <div class="row">
          <div class="col-12 mb-5">
            <h4 class="heading-24" style="text-align: center">
              Serving 2700+ clients across 19 countries with 47,000+ user
            </h4>
          </div>
          <div class="some-class">
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12bb043202eefc27ac5_euro%20exim%20bank%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12aa78c6837f6c52a53_patanjali%20research%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12a63efa6870d3bb5b9_navitas%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12abde120125fb57403_niva%20bupa%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12a06d27603cb1f2900_dr%20batra%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12a9ad227d0791b1c95_kft%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f1293c1228f3f447f1c5_shapoorji%20pallonji%20-%20client%20logo.png"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid main-content-3 py-5">
        <div class="row" style="padding: 0 7%">
          <h1 style="color: white; text-align: center; padding: 30px 0px">
            Perks of Field Monitoring Software
          </h1>

          <div class="col-lg-4 mb-md-3">
            <div
              class="card"
              style="
                background: transparent;
                background-color: rgba(77, 76, 92, 0.32);
                background-image: radial-gradient(
                  circle at 100% 100%,
                  rgba(29, 17, 90, 0.7),
                  rgba(29, 17, 90, 0) 27%
                );
                border: 1px solid rgba(234, 233, 255, 0.08);
                border-radius: 16px;
                align-items: center;
                padding: 38px;
              "
              id="parent"
            >
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/644ce08ca3f289535a56c925_gem33.webp"
                alt=""
                srcset=""
                style="height: 87px; width: 90px"
              />
              <h2 style="color: #fff; text-align: center; padding: 20px 0px">
                Real-time visibilty
              </h2>
              <p style="color: #fff; text-align: center">
                Get real-time location tracking for your field employees,
                ensuring better control and enhanced productivity.
              </p>
            </div>
          </div>
          <div class="col-lg-4 mb-md-3">
            <div
              class="card"
              style="
                background: transparent;
                background-color: rgba(77, 76, 92, 0.32);
                background-image: radial-gradient(
                  circle at 100% 100%,
                  rgba(29, 17, 90, 0.7),
                  rgba(29, 17, 90, 0) 27%
                );
                border: 1px solid rgba(234, 233, 255, 0.08);
                border-radius: 16px;
                align-items: center;
                padding: 38px;
              "
            >
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/644ce08ca3f289535a56c925_gem33.webp"
                alt=""
                srcset=""
                style="height: 87px; width: 90px"
              />
              <h2 style="color: #fff; text-align: center; padding: 20px 0px">
                Optimised Routes
              </h2>
              <p style="color: #fff; text-align: center; margin-bottom: 15px">
                Plan and optimise routes for your field teams to save time and
                reduce operational costs..
              </p>
            </div>
          </div>
          <div class="col-lg-4 mb-md-3">
            <div
              class="card"
              style="
                background: transparent;
                background-color: rgba(77, 76, 92, 0.32);
                background-image: radial-gradient(
                  circle at 100% 100%,
                  rgba(29, 17, 90, 0.7),
                  rgba(29, 17, 90, 0) 27%
                );
                border: 1px solid rgba(234, 233, 255, 0.08);
                border-radius: 16px;
                align-items: center;
                padding: 38px;
              "
            >
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/644ce08ca3f289535a56c925_gem33.webp"
                alt=""
                srcset=""
                style="height: 87px; width: 90px"
              />
              <h2 style="color: #fff; text-align: center; padding: 20px 0px">
                Enhanced Efficiency
              </h2>
              <p style="color: #fff; text-align: center">
                Streamline field operations, leading to better resource
                allocation and improved performance..
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top: 30px">
        <div class="row">
          <h1
            style="
              color: #1d115a;
              letter-spacing: -1px;
              margin-top: 17px;
              margin-bottom: 12px;
              font-size: 3em;
              line-height: 1.2;
              padding: 0 20%;
              text-align: -webkit-center;
              font-weight: 900;
            "
          >
            Tailored Field Monitoring Solutions for Every Unique Industry Need
          </h1>
        </div>

        <div class="row py-4">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <img
                  src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d77ee25b9d53be4ee56a80_field%20tracking%20software%20-%2001%20gps%20tracking.png"
                  alt=""
                  class="w-100"
                />
                <div
                  class="card-title"
                  style="color: #1d115a; font-size: 2em; font-weight: 900"
                >
                  GPS Tracking
                </div>
                <div class="card-text" style="color: #14141e">
                  Our tracking system helps you track the precise location of
                  your field employees at all times.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <img
                  src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d77ee12dcded8ab39cd541_field%20tracking%20software%20-%2002%20Time%20Tracking-p-500.png"
                  alt=""
                  class="w-100"
                />
                <div
                  class="card-title"
                  style="color: #1d115a; font-size: 2em; font-weight: 900"
                >
                  Time Tracking
                </div>
                <div class="card-text" style="color: #14141e">
                  Monitor field employees work with hour tracking and attendance
                  management accurately.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <img
                  src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64f6b31b54e53ad53190c60d_field%20tracking%20software%20-%2003%20Reporting-p-800.webp"
                  alt=""
                  class="w-100"
                />
                <div
                  class="card-title"
                  style="color: #1d115a; font-size: 2em; font-weight: 900"
                >
                  Reporting
                </div>
                <div class="card-text" style="color: #14141e">
                  Access detailed gps reports on field activities, helping you
                  make data-drive decisions.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-md-4">
            <div class="card">
              <div class="card-body">
                <img
                  src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d77ee25b9d53be4ee56a80_field%20tracking%20software%20-%2001%20gps%20tracking.png"
                  alt=""
                  srcset=""
                  class="w-100"
                />
                <div
                  class="card-title p-0"
                  style="color: #1d115a; font-size: 2em; font-weight: 900"
                >
                  Internet-Flexible Monitoring
                </div>
                <div class="card-text" style="color: #14141e">
                  Access detailed gps reports on field activities, helping you
                  make data-drive decisions.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-md-4">
            <div class="card">
              <div class="card-body">
                <img
                  src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d77ee12dcded8ab39cd541_field%20tracking%20software%20-%2002%20Time%20Tracking-p-500.png"
                  alt=""
                  srcset=""
                  class="w-100"
                />
                <div
                  class="card-title"
                  style="color: #1d115a; font-size: 2em; font-weight: 900"
                >
                  Live Location Tracking
                </div>
                <div class="card-text pb-5" style="color: #14141e">
                  View live locations of your field team on an interactive map.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-md-4">
            <div class="card">
              <div class="card-body">
                <img
                  src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64f6b31b54e53ad53190c60d_field%20tracking%20software%20-%2003%20Reporting-p-800.webp"
                  alt=""
                  srcset=""
                  class="w-100"
                />
                <div
                  class="card-title"
                  style="color: #1d115a; font-size: 2em; font-weight: 900"
                >
                  Route Optimization
                </div>
                <div class="card-text pb-5" style="color: #14141e">
                  Plan, optimize, and analyze routes for improved efficiency.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mt-5">
          <h1
            style="
              color: #1d115a;
              letter-spacing: -1px;
              font-size: 3.6em;
              line-height: 1.2;
              text-align: center;
              font-weight: 800;
              margin-bottom: 30px;
            "
          >
            Who Needs Field Monitoring?
          </h1>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card" style="height: 300px; border: none">
              <div class="card-body">
                <div class="card-title" style="color: #7b61ff">01</div>
                <div
                  class="card-title"
                  style="color: #1d115a; font-weight: 800; font-size: 25px"
                >
                  Office Employees
                </div>
                <div class="card-text py-2" style="font-weight: 600">
                  Enhance collaboration with remote and field teams.
                </div>
                <div class="card-text">
                  Stay connected with your employees working remotely or in the
                  field, ensuring seamless communication and teamwork.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card" style="border: none">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d9f5f234d48eb66571556f_field%20tracking%20software%20-%20UC%2001%20office%20employees.webp"
                alt=""
                srcset=""
                style="height: 300px"
              />
            </div>
          </div>
        </div>
        <div class="row py-4">
          <div class="col-lg-6">
            <div class="card" style="border: none">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d9f09969e57310def084f9_field%20tracking%20software%20-%20UC%2002%20Sales%20force.webp"
                alt=""
                srcset=""
                style="height: 300px"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card" style="height: 300px; border: none">
              <div class="card-body">
                <div class="card-title" style="color: #7b61ff">02</div>
                <div
                  class="card-title"
                  style="color: #1d115a; font-weight: 800; font-size: 25px"
                >
                  Office Employees
                </div>
                <div class="card-text py-2" style="font-weight: 600">
                  Enhance collaboration with remote and field teams.
                </div>
                <div class="card-text">
                  Stay connected with your employees working remotely or in the
                  field, ensuring seamless communication and teamwork.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card" style="height: 300px; border: none">
              <div class="card-body">
                <div class="card-title" style="color: #7b61ff">03</div>
                <div
                  class="card-title"
                  style="color: #1d115a; font-weight: 800; font-size: 25px"
                >
                  Office Employees
                </div>
                <div class="card-text py-2" style="font-weight: 600">
                  Field Service Agents
                </div>
                <div class="card-text">
                  Improve response times and service efficiency for better
                  customer satisfaction, enhancing your field service
                  operations.
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card" style="border: none">
              <img
                src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d9f43d7d4d2853b4ad0161_field%20tracking%20software%20-%20UC%2003%20Field%20Service%20agents.webp"
                alt=""
                srcset=""
                style="height: 300px"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="container-fluid"
        style="
          height: auto;
          background-image: linear-gradient(
              rgba(8, 3, 31, 0.95),
              rgba(8, 3, 31, 0.95)
            ),
            url(https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64d71f0cd8b2c979aa689a75_noise%20pattern.png);
          padding: 92px 0px;
        "
      >
        <div class="row">
          <div class="col-lg-12 text-center">
            <span style="color: #707070; padding: 25px 0px"
              >BROWSE OTHER FEATURES
            </span>
            <h1
              style="
                font-size: 3.2em;
                color: #fff;
                font-weight: 800;
                padding: 30px 0px;
              "
            >
              Get More with We360.ai
            </h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 mb-md-3">
              <div
                class="card card-hover-4"
                style="background-color: transparent; color: #fff"
              >
                <div class="card-body">
                  <img
                    src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c77fe10215b63fbca75193_attendance%20icon%20v2.svg"
                    alt=""
                    srcset=""
                    style="
                      background-color: rgba(0, 0, 0, 0.2);
                      background-color: rgba(0, 0, 0, 0.2);
                      height: 55px;
                      padding: 10px;
                      border-radius: 50%;
                      border: 0.5px solid rgba(207, 198, 255, 0.16);
                    "
                  />
                  <div
                    class="card-title mt-3"
                    style="font-size: 25px; font-weight: 800; margin-left: 50px"
                  >
                    Attendance
                  </div>
                  <div
                    class="card-text"
                    style="
                      color: rgba(255, 255, 255, 0.8);
                      line-height: 1.5;
                      font-size: 20px;
                      margin-bottom: 16px;
                    "
                  >
                    Track attendance, break, and arrival tendency for your
                    entire workforce.
                  </div>
                  <div class="card-text">
                    <a href="Link">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="card card-hover-4"
                style="background-color: transparent; color: #fff"
              >
                <div class="card-body">
                  <img
                    src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c77fe1faa6fd87e0c55477_projects%20icon%20v2.svg"
                    alt=""
                    srcset=""
                    style="
                      background-color: rgba(0, 0, 0, 0.2);
                      background-color: rgba(0, 0, 0, 0.2);
                      height: 55px;
                      padding: 10px;
                      border-radius: 50%;
                      border: 0.5px solid rgba(207, 198, 255, 0.16);
                    "
                  />
                  <div
                    class="card-title mt-3"
                    style="font-size: 25px; font-weight: 800; margin-left: 50px"
                  >
                    Projects
                  </div>
                  <div
                    class="card-text"
                    style="
                      color: rgba(255, 255, 255, 0.8);
                      line-height: 1.5;
                      font-size: 20px;
                      margin-bottom: 16px;
                    "
                  >
                    Manage projects, assign tasks, and track progress
                    collaboratively.
                  </div>
                  <div class="card-text">
                    <a href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="card card-hover-4"
                style="background-color: transparent; color: #fff"
              >
                <div class="card-body">
                  <img
                    src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c77fe1c04c9db7cc0ba8af_productivity%20icon%20v2.svg"
                    alt=""
                    srcset=""
                    style="
                      background-color: rgba(0, 0, 0, 0.2);
                      background-color: rgba(0, 0, 0, 0.2);
                      height: 55px;
                      padding: 10px;
                      border-radius: 50%;
                      border: 0.5px solid rgba(207, 198, 255, 0.16);
                    "
                  />
                  <div
                    class="card-title mt-3"
                    style="font-size: 25px; font-weight: 800; margin-left: 50px"
                  >
                    Productivity
                  </div>
                  <div
                    class="card-text"
                    style="
                      color: rgba(255, 255, 255, 0.8);
                      line-height: 1.5;
                      font-size: 20px;
                      margin-bottom: 45px;
                    "
                  >
                    Monitor work hours and productivity accurately.
                  </div>
                  <div class="card-text">
                    <a href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="card card-hover-4"
                style="background-color: transparent; color: #fff"
              >
                <div class="card-body">
                  <img
                    src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c77fe1e226847c97ac0607_screenshots%20icon%20v2.svg"
                    alt=""
                    srcset=""
                    style="
                      background-color: rgba(0, 0, 0, 0.2);
                      background-color: rgba(0, 0, 0, 0.2);
                      height: 55px;
                      padding: 10px;
                      border-radius: 50%;
                      border: 0.5px solid rgba(207, 198, 255, 0.16);
                    "
                  />
                  <div
                    class="card-title mt-3"
                    style="font-size: 25px; font-weight: 800; margin-left: 50px"
                  >
                    Screenshots
                  </div>
                  <div
                    class="card-text"
                    style="
                      color: rgba(255, 255, 255, 0.8);
                      line-height: 1.5;
                      font-size: 20px;
                      margin-bottom: 16px;
                    "
                  >
                    Capture screenshots to verify remote work progress and
                    ensure transparency.
                  </div>
                  <div class="card-text">
                    <a href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- middle section -->

{% endblock body %}