
    <!-- Footer Section -->

    <section>
        <footer class="py-4">
          <div class="container hide-content-for-responsive">
            <hr class="my-5" />
            <div class="row">
              <div class="col-lg-2">
                <h5 class="fw-bold">Explore-</h5>
                <ul class="list-unstyled mt-4">
                  <li class="mt-3"><a href="#">All Features</a></li>
                  <li class="mt-3"><a href="#">Pricing</a></li>
                  <li class="mt-3"><a href="#">Guided Demo</a></li>
                  <li class="mt-3"><a href="#">Partners</a></li>
                  <li class="mt-3"><a href="#">Sign in</a></li>
                  <li class="mt-3"><a href="#">FAQ</a></li>
                  <li class="mt-3"><a href="#">Community</a></li>
                  <li class="mt-3"><a href="#">Downloads</a></li>
                </ul>
              </div>
  
              <div class="col-lg-2">
                <h5 class="fw-bold">Solution</h5>
                <ul class="list-unstyled mt-4">
                  <li class="mt-3"><a href="#">Workforce Analytics</a></li>
                  <li class="mt-3"><a href="#">Productivity</a></li>
                  <li class="mt-3"><a href="#">Employee Monitoring</a></li>
                  <li class="mt-3"><a href="#">Field Tracking Software</a></li>
                  <li class="mt-3"><a href="#">Time Tracking</a></li>
                  <li class="mt-3"><a href="#">Hybrid & Remote Workforce</a></li>
                  <li class="mt-3"><a href="#">Project & Tasks</a></li>
                </ul>
              </div>
  
              <div class="col-lg-2">
                <h5 class="fw-bold">About Us</h5>
                <ul class="list-unstyled mt-4">
                  <li class="mt-3"><a href="#">Our Company</a></li>
                  <li class="mt-3"><a href="#">Awards</a></li>
                  <li class="mt-3"><a href="#">Meet the team</a></li>
                  <li class="mt-3"><a href="#">Contact us</a></li>
                </ul>
              </div>
  
              <div class="col-lg-2">
                <h5 class="fw-bold">Compare</h5>
                <ul class="list-unstyled mt-4">
                  <li class="mt-3"><a href="#">Activtrak alternative</a></li>
                  <li class="mt-3"><a href="#">Desktime alternative</a></li>
                  <li class="mt-3"><a href="#">Hubstaff alternative</a></li>
                  <li class="mt-3"><a href="#">Insightful alternative</a></li>
                  <li class="mt-3"><a href="#">Timedoctor alternative</a></li>
                </ul>
              </div>
  
              <div class="col-lg-2">
                <h5 class="fw-bold">Resources</h5>
                <ul class="list-unstyled mt-4">
                  <li class="mt-3"><a href="#">Blog</a></li>
                  <li class="mt-3"><a href="#">Ebooks</a></li>
                  <li class="mt-3"><a href="#">Case studies</a></li>
                  <li class="mt-3"><a href="#">Webinars</a></li>
                  <li class="mt-3"><a href="#">HR Glossary</a></li>
                  <li class="mt-3"><a href="#">Job Descriptions</a></li>
                  <li class="mt-3"><a href="#">Templates</a></li>
                  <li class="mt-3"><a href="#">Help Center</a></li>
                  <li class="mt-3"><a href="#">Video Tutorials</a></li>
                </ul>
              </div>
  
              <div class="col-lg-2">
                <h5 class="fw-bold">Industries</h5>
                <ul class="list-unstyled mt-4">
                  <li class="mt-3"><a href="#">BFSI</a></li>
                  <li class="mt-3"><a href="#">IT</a></li>
                  <li class="mt-3"><a href="#">BPO</a></li>
                  <li class="mt-3"><a href="#">Digital Marketing Agency</a></li>
                  <li class="mt-3"><a href="#">Edtech</a></li>
                  <li class="mt-3"><a href="#">Healthcare</a></li>
                  <li class="mt-3"><a href="#">HR & Staffing</a></li>
                </ul>
              </div>
            </div>
          </div>
  
          <hr class="my-4" />
  
          <div
            class="container border rounded-4 py-3"
            style="background-color: rgb(212, 207, 207)"
          >
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <span>Call us On:</span>
                <span class="fw-bold ms-lg-3">1001 22010 2233</span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <span>For Sales </span>
                <span class="fw-bold ms-lg-3">sales@we360.ai </span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <span>For Support </span>
                <span class="fw-bold ms-lg-3">support@we360.ai </span>
              </div>
            </div>
          </div>
  
          <hr class="my-4" />
          <div class="text-start mt-4 container">
            <p>&copy; 2024 Zenstack Technologies Inc. All rights reserved</p>
          </div>
  
          <div class="accordion1 accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Explore
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="#">All Features</a></li>
                    <li class="mt-3"><a href="#">Pricing</a></li>
                    <li class="mt-3"><a href="#">Guided Demo</a></li>
                    <li class="mt-3"><a href="#">Partners</a></li>
                    <li class="mt-3"><a href="#">Sign in</a></li>
                    <li class="mt-3"><a href="#">FAQ</a></li>
                    <li class="mt-3"><a href="#">Community</a></li>
                    <li class="mt-3"><a href="#">Downloads</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Solution
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="#">Workforce Analytics</a></li>
                    <li class="mt-3"><a href="#">Productivity</a></li>
                    <li class="mt-3"><a href="#">Employee Monitoring</a></li>
                    <li class="mt-3"><a href="#">Field Tracking Software</a></li>
                    <li class="mt-3"><a href="#">Time Tracking</a></li>
                    <li class="mt-3">
                      <a href="#">Hybrid & Remote Workforce</a>
                    </li>
                    <li class="mt-3"><a href="#">Project & Tasks</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  About Us
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="#">Our Company</a></li>
                    <li class="mt-3"><a href="#">Awards</a></li>
                    <li class="mt-3"><a href="#">Meet the team</a></li>
                    <li class="mt-3"><a href="#">Contact us</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  Compare
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="#">Activtrak alternative</a></li>
                    <li class="mt-3"><a href="#">Desktime alternative</a></li>
                    <li class="mt-3"><a href="#">Hubstaff alternative</a></li>
                    <li class="mt-3"><a href="#">Insightful alternative</a></li>
                    <li class="mt-3"><a href="#">Timedoctor alternative</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  Resources
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="#">Blog</a></li>
                    <li class="mt-3"><a href="#">Ebooks</a></li>
                    <li class="mt-3"><a href="#">Case studies</a></li>
                    <li class="mt-3"><a href="#">Webinars</a></li>
                    <li class="mt-3"><a href="#">HR Glossary</a></li>
                    <li class="mt-3"><a href="#">Job Descriptions</a></li>
                    <li class="mt-3"><a href="#">Templates</a></li>
                    <li class="mt-3"><a href="#">Help Center</a></li>
                    <li class="mt-3"><a href="#">Video Tutorials</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix"
                  aria-expanded="false"
                  aria-controls="flush-collapseSix"
                >
                  Industries
                </button>
              </h2>
              <div
                id="flush-collapseSix"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="#">BFSI</a></li>
                    <li class="mt-3"><a href="#">IT</a></li>
                    <li class="mt-3"><a href="#">BPO</a></li>
                    <li class="mt-3"><a href="#">Digital Marketing Agency</a></li>
                    <li class="mt-3"><a href="#">Edtech</a></li>
                    <li class="mt-3"><a href="#">Healthcare</a></li>
                    <li class="mt-3"><a href="#">HR & Staffing</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>
  
      <!-- Footer Section -->
    </body>
  </html>
  