{% extends "base.html" %}
{% block body %}
{% load static %}

    <!-- Middle Section -->
    <section style="margin-top: 200px;">
          <div class="container w-100 ">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="heading-h1" style = "color: #1d115a;
          letter-spacing: -1px;
          margin-top: 17px;
          margin-bottom: 12px;
          font-size: 3.6em;
          line-height: 1.2;">
            Turn Workforce Analytics Into Workforce Potential
          </h1>
          <p class="heading-para">
            Empower your workforce with data-driven decisions for increased
            efficiency,<i
              style="
                color: #7b61ff;
                font-family: DM Serif Display, sans-serif;pyth
                font-style: italic;
                font-weight: 400;
                text-decoration: none;
              "
              >productivity</i
            >
            ,and profitability.
          </p>
        </div>
      </div>

      <div class="row flex-column">
        <div class="row">
          <div class="col-lg-3">
            <div class="mb-3">
              <input
                type="text"
                class="form-control for-input"
                id="exampleFormControlInput1" 
                placeholder="First Name*"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-3">
              <input
                type="email"
                class="form-control for-input"
                id="exampleFormControlInput2"
                placeholder="Last Name*"
              />
            </div>
          </div>
        </div>
        <div class="row flex-column">
          <div class="col-lg-6">
            <div class="mb-3">
              <input
                type="email"
                class="form-control for-input"
                id="exampleFormControlInput3"
                placeholder="Email*"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <input
                type="email"
                class="form-control for-input"
                id="exampleFormControlInput4"
                placeholder="Phone"
              />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-warning btn-style-form">
            Submit
          </button>
        </div>
      </div>
      
      
    </div>

    <div class="container main-content-2">
        <div class="row">
            <div class="col-12">
                <h4 class="heading-24" style="text-align:center;">Serving 2700+ clients across 19 countries with 47,000+ user
                </h4>
            </div>
            <div class="some-class" style="display:flex;  margin-left: 70px; margin-right: auto;">
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12bb043202eefc27ac5_euro%20exim%20bank%20-%20client%20logo.png" alt="" srcset="">
                </div>
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12aa78c6837f6c52a53_patanjali%20research%20-%20client%20logo.png" alt="" srcset="">
                </div>
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12a63efa6870d3bb5b9_navitas%20-%20client%20logo.png" alt="" srcset="">
                </div>
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12abde120125fb57403_niva%20bupa%20-%20client%20logo.png" alt="" srcset="">
                </div>
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12a06d27603cb1f2900_dr%20batra%20-%20client%20logo.png" alt="" srcset="">
                </div>
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f12a9ad227d0791b1c95_kft%20-%20client%20logo.png" alt="" srcset="">
                </div>
                <div class="" style="padding:15px">
                    <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/64c8f1293c1228f3f447f1c5_shapoorji%20pallonji%20-%20client%20logo.png" alt="" srcset="">
                </div>
               
               
            </div>
        </div>
    </div>


<div class="container-fluid fluid-style-1 " style="background-color: #0e082e;
    ; color: #fff; padding-bottom: 4%;">
<div style="max-width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;">

    <h5 class="heading-25">100% ACCURATE, ASSURED RESULTS
    </h5>
    <h3 class="heading-27">Workforce Analytics Software to Simplify your Work Processes</h3>
</div>
    <div class="container">

    <div class="row " >
        <div class="col-lg-4 py-md-4 ">
            <div class="card card-styling-1" >
                <div class="card-text text-muted " style="font-weight: 500;">
                    Actively disengaged employees cost $550 billion in lost productivity per year.
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-md-4">
            <div class="card card-styling-1" >
                <div class="card-text text-muted" style="font-weight: 500;">
                    Actively disengaged employees cost $550 billion in lost productivity per year.
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-md-4 ">
            <div class="card card-styling-1" >
                <div class="card-text text-muted" style="font-weight: 500;">
                    Actively disengaged employees cost $550 billion in lost productivity per year.
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="container-fluid" style="background-color: #fbfaff;" id="knock-height">
  <div class="row py-5">
    <div
    >
      <h5 class="heading-500">
        TRANSFORM YOUR RESPONSIBILITY INTO PRODUCTIVE SUPPORT
      </h5>
      <h1 class="heading-600">Unleash Possibilities With We360.ai</h1>
    </div>
  </div>

  <div class="row" >
        <div class="d-flex justify-content-center">
          <ul class="nav nav-pills mb-3 py-2" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 active text-black fw-bold border-0"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                Presence
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 text-black fw-bold border-0"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                Livestream
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 text-black fw-bold border-0"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
              >
                Wellness360
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 text-black fw-bold border-0"
                id="pills-reports-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-reports"
                type="button"
                role="tab"
                aria-controls="pills-reports"
                aria-selected="false"
              >
                Activity
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 text-black fw-bold border-0"
                id="pills-productivity-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-productivity"
                type="button"
                role="tab"
                aria-controls="pills-productivity"
                aria-selected="false"
              >
                Productivity
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 text-black fw-bold border-0"
                id="pills-project-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-project"
                type="button"
                role="tab"
                aria-controls="pills-project"
                aria-selected="false"
              >
                Project & Task
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link py-3 px-4 text-black fw-bold border-0"
                id="pills-report-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-report"
                type="button"
                role="tab"
                aria-controls="pills-report"
                aria-selected="false"
              >
                Report
              </button>
            </li>
          </ul>
        </div>

        <div
          class="tab-content d-flex justify-content-center feature-content-div"
          id="pills-tabContent"
        >
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <!-- Content for Presence tab -->
            <div class="row">
              <div class="card btn-warning" style="padding: 30px">
                <div class="container">
                  <div class="card border-0 bg-white">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 20px;">
                        <h5 style="color: #ffb800">ATTENDANCE</h5>
                        <h2
                          style="
                            color: #1d115a;
                            font-size: 2.5em;
                            font-weight: 700;
                          "
                        >
                          Quickly Analyze Employee Presence
                        </h2>
                        <p style="color: #14141e">
                          Let your employees enter with a one-click
                          punch-in. Organize employee attendance, shifts,
                          and leaves with our automated attendance system
                          describing the present, absent, and complete leave
                          details.
                        </p>
                        <div
                          style="
                            display: flex;
                            justify-content: space-between;
                          "
                        >
                          <div>
                            <p
                              style="
                                background-color: rgba(204, 193, 255, 0.3);
                                border-radius: 16px;
                                margin-bottom: 4px;
                                padding: 6px 25px;
                              "
                            >
                              Track late arrivals
                            </p>
                          </div>
                          <div>
                            <p
                              style="
                                background-color: rgba(204, 193, 255, 0.3);
                                border-radius: 16px;
                                margin-bottom: 4px;
                                padding: 6px 25px;
                              "
                            >
                              Track Half days
                            </p>
                          </div>
                        </div>
                        <div
                          style="
                            display: flex;
                            justify-content: space-between;
                          "
                        >
                          <div>
                            <p
                              style="
                                background-color: rgba(204, 193, 255, 0.3);
                                border-radius: 16px;
                                margin-bottom: 4px;
                                padding: 6px 25px;
                              "
                            >
                              Track break trends
                            </p>
                          </div>
                          <div>
                            <p
                              style="
                                background-color: rgba(204, 193, 255, 0.3);
                                border-radius: 16px;
                                margin-bottom: 4px;
                                padding: 6px 25px;
                              "
                            >
                              Measure Work Hours
                            </p>
                          </div>
                        </div>
                        <span><a href="#">Learn more</a></span>
                      </div>
                      <div
                        class="col-lg-6 col-md-6 col-sm-12"
                        style="padding: 20px"
                      >
                        <img
                          src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f0578cffe0d264a60a784_attendance%20-SF.webp"
                          alt=""
                          srcset=""
                          style="height: auto; max-width: 100%"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <!-- Content for Livestream tab -->
            <div class="container">
              <div class="card border-0 bg-white">
                <div class="row">
                  <div
                    class="col-lg-6 col-md-6 col-sm-12"
                    style="padding: 40px"
                  >
                    <h5 style="color: #ffb800">LIVESTREAM</h5>
                    <h2
                      style="
                        color: #1d115a;
                        font-size: 2.8em;
                        font-weight: 700;
                      "
                    >
                      Insightful Captures For Live Vision
                    </h2>
                    <p style="color: #14141e">
                      Let your employee enter with a one-click punch-in. See
                      your employees’ real-time work. Capture snapshots to
                      analyze work via time utilization at any moment during
                      the day. Manage snapshots as per your needs with due
                      filters.
                    </p>
                    <div
                      style="display: flex; justify-content: space-between"
                    >
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Live Screenshots
                        </p>
                      </div>
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Live working status
                        </p>
                      </div>
                    </div>
                    <div
                      style="display: flex; justify-content: space-between"
                    >
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Bird-eye view
                        </p>
                      </div>
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Proof of Work
                        </p>
                      </div>
                    </div>
                    <span><a href="">Learn more</a></span>
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-sm-12"
                    style="padding: 40px"
                  >
                    <img
                      src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f057944a6f43b1d61f68d_livestream%20-SF.webp"
                      alt=""
                      srcset=""
                      style="height: auto; max-width: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <!-- Content for Wellness360 tab -->
            <div class="container">
              <div class="card border-0 bg-white">
                <div class="row">
                  <div
                    class="col-lg-6 col-md-6 col-sm-12"
                    style="padding: 40px"
                  >
                    <h5 style="color: #ffb800">WELLNESS360</h5>
                    <h2
                      style="
                        color: #1d115a;
                        font-size: 2.8em;
                        font-weight: 700;
                      "
                    >
                      Maintaining Work-Life Integration
                    </h2>
                    <p style="color: #14141e">
                      Maintaining Work-Life Integration Understand employee
                      work habits by identifying work patterns. Balance
                      workload within teams to know who is over and
                      under-utilized and correct imbalances by reallocating
                      the work.
                    </p>
                    <div
                      style="display: flex; justify-content: space-between"
                    >
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Overall Health trend
                        </p>
                      </div>
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Reduce Burnouts
                        </p>
                      </div>
                    </div>
                    <div
                      style="display: flex; justify-content: space-between"
                    >
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Work-Life Balance
                        </p>
                      </div>
                      <div>
                        <p
                          style="
                            background-color: rgba(204, 193, 255, 0.3);
                            border-radius: 16px;
                            margin-bottom: 4px;
                            padding: 6px 25px;
                          "
                        >
                          Manage occupancies
                        </p>
                      </div>
                    </div>
                    <span><a href="#">Learn more</a></span>
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-sm-12"
                    style="padding: 40px"
                  >
                    <img
                      src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f0578162c5306c7cac553_wellness%20-SF.webp"
                      alt=""
                      style="height: auto; max-width: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-reports"
            role="tabpanel"
            aria-labelledby="pills-reports-tab"
          >
          <div class="container">
            <div class="card border-0 bg-white">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 40px;">
                  <h5 style="color: #ffb800;">ACTIVITY</h5>
                  <h2 style="color: #1d115a; font-size: 2.8em; font-weight: 700;">Analyze Every Movement</h2>
                  <p style="color: #14141e;">Maintaining Work-Life Integration
                    Understand employee work habits by identifying work patterns.
                    Balance workload within teams to know who is over and under-utilized and correct imbalances by reallocating the work.
                  </p>
                  <div style="display: flex; justify-content: space-between;">
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Active Time</p></div>
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Idle Time</p></div>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Outliers</p></div>
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Teamwise trend</p></div>
                  </div>
                  <span><a href="#">Learn more</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 40px;">
                  <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f0578162c5306c7cac553_wellness%20-SF.webp" alt="" style="height: auto; max-width: 100%;">
                </div>
              </div>
            </div>
          </div>
          
          </div>
          <div
            class="tab-pane fade"
            id="pills-productivity"
            role="tabpanel"
            aria-labelledby="pills-productivity-tab"
          >
          <div class="container">
            <div class="card border-0 bg-white">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 40px;">
                  <h5 style="color: #ffb800;">PRODUCTIVITY</h5>
                  <h2 style="color: #1d115a; font-size: 2.8em; font-weight: 700;">Satisfactory & Visible Growth</h2>
                  <p style="color: #14141e;">View productivity metrics for individuals and teams by creating work-related productivity labels.
                    Measure employee productivity by knowing if the employee is involved in a relevant or irrelevant task in the working time.
                  </p>
                  <div style="display: flex; justify-content: space-between;">
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Productive Time</p></div>
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Unproductive Time</p></div>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Neutral Time</p></div>
                    <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Teamwise trend</p></div>
                  </div>
                  <span><a href="#">Learn more</a></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 40px;">
                  <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f0578cffe0d264a60a784_attendance%20-SF.webp" alt="" style="height: auto; max-width: 100%;">
                </div>
              </div>
            </div>
          </div>
          
          
          </div>
          <div
            class="tab-pane fade"
            id="pills-project"
            role="tabpanel"
            aria-labelledby="pills-project-tab"
          >
            <!-- Content for Project & Task tab -->
            <div class="container">
                <div class="card border-0 bg-white">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 40px;">
                      <h5 style="color: #ffb800;">PROJECT & TASK</h5>
                      <h2 style="color: #1d115a; font-size: 2.8em; font-weight: 700;">Project & Task, Manage All At One Place</h2>
                      <p style="color: #14141e;">Manage projects, organize tasks, and build team spirit with our one platform. Streamline all projects and tasks from start to finish.
                        Keep track of duration, statuses, and deadlines with the easiest list or kanban view.
                      </p>
                      <div style="display: flex; justify-content: space-between;">
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Integrated Reports</p></div>
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 25px;">Track Task Status</p></div>
                      </div>
                      <div style="display: flex; justify-content: space-between;">
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 8px;">Simplified Kanban View</p></div>
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; margin-bottom: 4px; padding: 6px 8px;">Track Project Deadlines</p></div>
                      </div>
                      <span><a href="#">Learn more</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 40px;">
                      <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f0578cffe0d264a60a784_attendance%20-SF.webp" alt="" style="height: auto; max-width: 100%;">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
          <div
            class="tab-pane fade"
            id="pills-report"
            role="tabpanel"
            aria-labelledby="pills-report-tab"
          >
            <!-- Content for Report tab -->
            <div class="container">
                <div class="card border-0 bg-white p-5">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <h5 style="color: #ffb800;">REPORTS</h5>
                      <h2 style="color: #1d115a; font-size: 2.8em; font-weight: 700;">Satisfactory & Visible Growth</h2>
                      <p style="color: #14141e;">View productivity metrics for individuals and teams by creating work-related productivity labels. Measure employee productivity by knowing if the employee is involved in a relevant or irrelevant task in the working time.</p>
                      <div class="d-flex flex-wrap gap-2">
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; padding: 6px 25px;">Productive Time</p></div>
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; padding: 6px 25px;">Unproductive Time</p></div>
                      </div>
                      <div class="d-flex flex-wrap gap-2">
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; padding: 6px 25px;">Neutral Time</p></div>
                        <div><p style="background-color: rgba(204, 193, 255, .3); border-radius: 16px; padding: 6px 25px;">Teamwise trend</p></div>
                      </div>
                      <span><a href="#" style="margin-top: 5px;">Learn more</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647f0578cffe0d264a60a784_attendance%20-SF.webp" alt="" style="height: 500px;" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              </div>
        </div>
  </div>
</div>




<div class="container" style="padding-top: 8%">
  <h2 style="color: #1d115a;
  text-align: center;
  margin-bottom: 26px;
  font-size: 2.5em;
  line-height: 120%;
  font-weight: 700;">  
    Benefits of Workforce Analytics for your Organization
  </h2>

  <h2 style="color: #707070; font-size: .8rem; text-align: center;">FROM BUSINESS LEADERS, HRS TO EMPLOYEES, STREAMLINE EVERYONE’S WORKFLOW.
  </h2>

  <div class="row py-5">
    <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: #eae9ff; border: 1px solid rgba(204, 193, 255, .5);
      padding: 2em;">
        <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647ed9649809a1e5b6e3595d_CXO.webp" alt="" srcset="" >
        <div class="card-title" style="color: #1d115a; font-size: 2em;
        font-weight: 700;
        ">
          Business Leaders

        </div>
        <div class="card-text" style="color: #14141e;">
          Stay on top of every movement, activity and deliverables from anywhere, any device with reduced time-to-insight.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: #fff3d7; padding: 2rem; ">
        <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647ed96572fa62a3b49a51e0_HR.webp" alt="" srcset="" >
        <div class="card-title" class="card-title" style="color: #1d115a; font-size: 2em;
        font-weight: 700;
        ">
          Human Resources

        </div>
        <div class="card-text" style="color: #14141e;">
          A robust, easy-to-use performance solution for HR. Stay aligned with employee work habits to help plan better activities.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card" style="background-color: #d2f1ff; padding: 2rem; ">
        <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647ed964d4101672384b45ea_Employee.webp" alt="" srcset="" >
        <div class="card-title" class="card-title" style="color: #1d115a; font-size: 2em;
        font-weight: 700;
        ">
          Employee

        </div>
        <div class="card-text" style="color: #14141e;">
          A transparent, friendly companion to help employees evolve, educate and engage. Our insights inspire everyone to perform.        </div>
      </div>
    </div>
   
  </div>
</div>


<div class="container-fluid los-angles" style="background-color: #0e082e; padding: 70px 0px;">
  <div class="row p-2">
    <h2 style="color: #ffb800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;">TESTIMONIAL</h2>
    <h2 style="color: #fff; font-size: 2.8em; font-weight: 700; text-align: center; padding: 15px 0px;">Let’s see what industry leaders has to say
    </h2>
    <p style="color: rgba(255,255,255,.8);text-align: center; padding: 15px 0px;">You are not alone; the misery of trying to keep track of all time spent is real.
    </p>   
  <!-- Slide 1 -->
 
  
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" style="z-index: 1;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="background-color: #0e082e; display: flex; flex-direction: row; justify-content: center; right: 10%;" id="jini">
          <div>
            <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/637df72d6568e47a685155ae_Will%20We360.ai%20Employee%20Tracking%20App%20Suit%20My%20Business%20Needs.webp" class="img-fluid" srcset="" style="height: 387px; width:630px; background-position: top;" id="arrange-model">
          </div>
          <div>
            <div class="card down-town">
              <div class="card-text font-stylish" style="font-size: 18px; font-weight: 600;">
                "<span style="color: #7b61ff;">More than 100 members</span> of my team work from remote places post-covid. Without We360.ai, keeping track of their time and <span style="color: #7b61ff;">attendance would be nearly </span>impossible."
              </div>
              <div style="display: flex; gap: 4%; padding: 10px 0px;">
                <div><img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/63abe1255bfef421d293d486_chaticon.svg" alt="" srcset="" id="ijij"></div>
                <div id="uiiii"><strong>Kumar, DGM</strong>  <br>
                Uber9 Business Process Services Pvt Ltd.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
      <div class="carousel-item">
         <div class="item">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="background-color: #0e082e; display: flex; flex-direction: row; justify-content: center; right: 10%;" id="jini">
          <div>
            <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/637df72d6568e47a685155ae_Will%20We360.ai%20Employee%20Tracking%20App%20Suit%20My%20Business%20Needs.webp" class="img-fluid" srcset="" style="height: 387px; width:630px; background-position: top;" id="arrange-model">
          </div>
          <div>
            <div class="card down-town">
              <div class="card-text font-stylish" style="font-size: 18px; font-weight: 600;">
                " <span style="color: #7b61ff;">Our productivity has grown by at least 50%</span> after deploying We360.ai. We almost increased the frequency of our appointment bookings in less than 2 months, and recovered all costs within 2 months"              </div>
              <div style="display: flex; gap: 4%; padding: 10px 0px;">
                <div><img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/63abe1255bfef421d293d486_chaticon.svg" alt="" srcset="" id="ijij"></div>
                <div id="uiiii"><strong>Sachin Jaiswal, HR & Admin</strong> <br>
                  Business Process Services Pvt Ltd.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
      <div class="carousel-item">
         <div class="item">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="background-color: #0e082e; display: flex; flex-direction: row; justify-content: center; right: 10%;" id="jini">
          <div>
            <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/637df72d6568e47a685155ae_Will%20We360.ai%20Employee%20Tracking%20App%20Suit%20My%20Business%20Needs.webp" class="img-fluid" srcset="" style="height: 387px; width:630px; background-position: top;" id="arrange-model">
          </div>
          <div>
            <div class="card down-town">
              <div class="card-text font-stylish" style="font-size: 18px; font-weight: 600;">
                " <span style="color: #7b61ff;">I've improved as a manager after adopting We360.ai into my organisation.</span> I am able to distribute workload based on my team’s working health."              </div>
              <div style="display: flex; gap:4%; padding: 10px 0px;">
                <div><img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/63abe1255bfef421d293d486_chaticon.svg" alt="" srcset="" id="ijij"></div>
                <div id="uiiii"> <strong>Sagar Patil, IT Manager
                </strong><br>
                Mind Technologies Pvt. Ltd.
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Additional Slides (if needed) -->
  <!-- Slide 2, Slide 3, ... -->


  </div>
 
</div>


<div class="container">
  <div class="row" style="padding: 70px 0px;">
    <div class="col-lg-6">
      <h2 class="heading-h11">We Believe in User Centric Approach</h2>

      <div>
        <button type="button" class="btn btn-warning rounded-pill float-start p-3">Try We360.ai <i class="arrow-icon">></i></button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card  p-4" style="background-color: rgba(204,193,255,.16); border-radius: 16px; border: none; margin-bottom: 20px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;">
        <div class="card-title " style="color: #26147a; font-weight: 700; font-size: 14px;">
          SUPPORT
        </div>
        <div class="card-text" style="color: #14141e;">
          With all our plans, we provide 24*7 support on chat, call and email.
        </div>
      </div>
      <div class="card p-4" style="background-color: rgba(204,193,255,.16); border-radius: 16px; border: none; margin-bottom: 20px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;">
        <div class="card-title" style="color: #26147a; font-weight: 700; font-size: 14px;"> 
          DATA SAFETY
        </div>
        <div class="card-text" style="color: #14141e;">
          The server is protected by SSL encryption and housed in secure data center facilities within an enterprise environment.
        </div>
      </div>
      <div class="card p-4" style="background-color: rgba(204,193,255,.16); border-radius: 16px; border: none; margin-bottom: 20px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;">
        <div class="card-title" style="color: #26147a; font-weight: 700; font-size: 14px;">
          ONBOARDING
        </div>
        <div class="card-text" style="color: #14141e;">
          Get your complete team onboarded following one-on-one process.
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid" style="background-color: #7b61ff; padding: 92px 0px;">
  <div class="row mb-5">
    <h4 class="text-center" style="color: rgba(255,255,255,.8); font-size: .85em;">— MORE FEATURES OF WE360.AI —
    </h4>
    <h2 class="text-center text-white" style="font-size: 2.8em; font-weight: 700;">With We360.ai, you get all at one place
    </h2>
  </div>


  <div class="owl-carousel owl-theme">
    <div class="item">
      <div class="card">
        <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647ef216bbc452148435af39_In-Mobile1.webp" alt="" srcset="">
       <div class="card-body" style="background-color: #150c43; color: #fff;">
  
        <div class="card-title d-flex justify-content-between">
         <span> Screenshots</span> 
         <span><i class=" fas fa-solid fa-square-arrow-up-right"></i>
  
         </span>
        </div>
        <div class="card-text">
          Use screenshots to analyze work time utilization and identify opportunities for improvement.
        </div>
      </div>
  
      </div>  </div>
    <div class="item">
      <div class="card">
        <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647ef216bbc452148435af39_In-Mobile1.webp" alt="" srcset="">
       <div class="card-body" style="background-color: #150c43; color: #fff;">
  
        <div class="card-title d-flex justify-content-between">
         <span> Screenshots</span> 
         <span><i class=" fas fa-solid fa-square-arrow-up-right"></i>
  
         </span>
        </div>
        <div class="card-text">
          Use screenshots to analyze work time utilization and identify opportunities for improvement.
        </div>
      </div>
  
      </div>  </div>
    <div class="item">
      <div class="card">
        <img src="https://assets-global.website-files.com/621f6320a4c8a1030a6a2d65/647ef216bbc452148435af39_In-Mobile1.webp" alt="" srcset="">
       <div class="card-body" style="background-color: #150c43; color: #fff;">
  
        <div class="card-title d-flex justify-content-between">
         <span>Project & Task</span> 
         <span><i class=" fas fa-solid fa-square-arrow-up-right"></i>
  
         </span>
        </div>
        <div class="card-text">
          Use screenshots to analyze work time utilization and identify opportunities for improvement.
        </div>
      </div>
  
      </div>  </div>
  </div>
 
  <button class="owl-prev" id="owl-prev-style"><span>&#8592;</span></button>
  <button class="owl-next" id="owl-next-style"><span>&#8594;</span></button>
  <!-- <div class="row mt-5">
    <div class="container" id="demo3">
     
    </div>
  </div> -->
</div>



<div class="container py-5" >
  <div class="row mt-5">
    <h4 class="text-center" style="color:#ffb800; font-size: .85em;">READ MORE BLOGS


    </h4>
    <h2 class="text-center" style="font-size: 2.5em; font-weight:800; color: #1d115a;">Want to study more about Employee Monitoring?


    </h2>
  </div>

  <div class="row mt-4">
    <div class="col-lg-4 mt-md-4 mt-4">
      <div class="card">
        <img src="https://assets-global.website-files.com/6229d00c46440bc58f8e8071/64e751af8681676ffd0a127b_Thriving%20Through%20Asynchronous%20Work%20Methods.png" alt="" srcset="">
      <div class="card-text" style="color: #1d115a;
      font-size:25px;
      font-weight: 800;
      margin-top: 22px;
      text-align: center;
    ">
        Beyond 9 to 5: Thriving Through Asynchronous Work Methods

      </div>
      <div style="margin-top: 94px
      ; margin-bottom: 20px;
      padding: 0px 20px;">
        <button type="button" class="btn btn-warning rounded-pill float-start p-3">Try We360.ai <i class="arrow-icon">></i></button>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mt-md-4 mt-4">
      <div class="card">
        <img src="https://assets-global.website-files.com/6229d00c46440bc58f8e8071/648b0015ebc57bea4e2b01ef_TCS%20Resignation.png" alt="" srcset="">
        <div class="card-text" style="color: #1d115a;
      font-size:25px;
      font-weight: 800;
      margin-top: 22px;
      text-align: center;
    ">
The Ripple Effect of Remote Work Policies: Examining TCS's Resignation Trend among Women

      </div>
      <div style="padding: 20px;">
        <button type="button" class="btn btn-warning rounded-pill float-start p-3">Try We360.ai <i class="arrow-icon">></i></button>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mt-md-4 mt-4">
      <div class="card">
        <img src="https://assets-global.website-files.com/6229d00c46440bc58f8e8071/64ca2d8b7891f676005346b5_Digital%20Transformation%20Case.png" alt="" srcset="">
        <div class="card-text" style="color: #1d115a;
        font-size:25px;
        font-weight: 800;
        margin-top: 22px;
        text-align: center;
      ">
Digital Transformation Case Study: Challenges, Solutions, and Success Story  
        </div>
        <div style="margin-top: 60px
        ; margin-bottom: 20px;
        padding: 0px 20px;">
          <button type="button" class="btn btn-warning rounded-pill float-start p-3">Try We360.ai <i class="arrow-icon">></i></button>
        </div>
      </div>

    </div>
  </div>
</div>

    </section>
    <!-- Middle Section -->

{% endblock body %}